[submodule "icm"]
	path = icm
	url = git@git.vauxoo.com:vauxoo-dev/icm.git
	branch = 17.0-fix_invoices_view-CLaurelB
[submodule "urim"]
	path = urim
	url = git@git.vauxoo.com:vauxoo/urim.git
	branch = 17.0
